body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.StopWatch{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.1);
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

button{
    padding: 10px 30px;
    margin: 5px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#startstopbtn{
    background-color: red;
    color: white;
}

button#resetbtn{
    background-color: red;
        color: white;
}

button#resetbtn:hover{
    background-color: rgb(95, 28, 28);
    transition: 0.5s;
}
button#startstopbtn:hover {
    background-color: rgb(95, 28, 28);
    transition: 0.5s;
}